<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

    <div class="card" style="width: 15%; float: left;">
        <img class="card-img-top" src="../img/chrome-extension.jpg" width="100%" height="100%" hedialt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">sahibinden - testbox</h5>
            <p class="card-text">testbox extension for sahibinden</p>
            <a href="https://chrome.google.com/webstore/detail/sahibinden-testbox/hjfhcngngkaoeindmmnofgmciecfkmke"
                target="_blank" class="btn btn-primary">Go Web Store</a>
        </div>
    </div>

    <div class="card" style="width: 15%; float: left;">
        <img class="card-img-top" src="../img/chrome-extension.jpg" width="100%" height="100%" hedialt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">sahibinden - Classified Builder</h5>
            <p class="card-text">Classified form fill chrome extension.</p>
            <a href="https://chrome.google.com/webstore/detail/sahibindencom-classified/epkbgddokifbcagmaedbmklcggfmjpdi"
                target="_blank" class="btn btn-primary">Go Web Store</a>
        </div>
    </div>
</body>
<% include partials/script %>

</html>