<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

        <% for(var i=0; i < Object.keys(data).length; i++) { %>
            <div class="card" style="width: 15%; float: left;">
                <img class="card-img-top" src="../img/chrome-extension.jpg" width="100%" height="100%" hedialt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= data[i].name %>
                    </h5>
                    <p class="card-text">
                        <%= data[i].description %>
                    </p>
                    <a href="<%= data[i].link %>" target="_blank" class="btn btn-primary">Go Web Store</a>
                </div>
            </div>
            <% } %>

                <div class="add card" style="width: 15%; float: left;">
                    <img src="../img/add-icon.png" style="width: 25%" alt="Avatar" class="image">
                    <div class="overlay">
                        <a class="icon" title="Chrome Extension">
                            <i class="fa fa-chrome" style="font-size:80%"></i>
                        </a>
                    </div>
                </div>

</body>
<% include partials/script %>

</html>