<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

    <p><%= data %></p>

    <div class="row">
        <div class="column">
            <div class="card">
                <h3 class="testbox-id">1 (Mobiletest05)</h3>

                <label for="cars">Owner:</label>
                <select onclick="myFunction()" class="form-control" name="cars" id="cars">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>

                <label for="fname">Issue:</label>
                <input class="form-control" type="text" id="fname" name="fname"><br><br>

                <label for="fname">Description:</label>
                <textarea class="form-control" name="comment" form="usrform"></textarea>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 2</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 3</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Card 4</h3>
                <p>Some text</p>
                <p>Some text</p>
            </div>
        </div>
    </div>

</body>

<script>
    function myFunction() {
        $.ajax({
            type: "POST",
            url: "/testbox/update/test",
            success: function (data) {
                return console.log(data);
            },
        });
    }
</script>

<% include partials/script %>

</html>