<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

        <label class="switch">
        <input id="start" type="checkbox" onclick="start(this)">
        <span class="slider round"></span>
        </label>
        <div></div>
</body>
<% include partials/script %>

</html>