<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

        <label class="switch">
            <input type="checkbox" onclick="start(this)" id="212">
            <div class="slider round">
             <!--ADDED HTML -->
             <span class="on">212</span>
             <span class="off">212</span>
             <!--END-->
            </div>
           </label>

        <label class="switch">
            <input type="checkbox" onclick="start(this)" id="184">
            <div class="slider round">
             <!--ADDED HTML -->
             <span class="on">184</span>
             <span class="off">184</span>
             <!--END-->
            </div>
           </label>

        <label class="switch">
            <input type="checkbox" onclick="start(this)" id="207">
            <div class="slider round">
             <!--ADDED HTML -->
             <span class="on">207</span>
             <span class="off">207</span>
             <!--END-->
            </div>
           </label>

        <div></div>
</body>
<% include partials/script %>

</html>