<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

        <label class="switch">
        <input id="start" type="checkbox" onclick="start(this)">
        <span class="slider round"></span>
    </label>

        <div class="phones" style="margin-left: 1%; margin-top: 1%;">
            <div>
                <img id="c41e0c25fe4c0ce0ef28cf8d4862e08ce5ac46c9" width="15%" height="15%" src="img/iphone.png" />
                <img id="0d123e38d24c6df3d198b576fd6f7396ed46978a" width="15%" height="15%" src="img/iphone.png" />
                <img id="12b0530d88260b3211a4f360ea42c8c945ddeae4" width="15%" height="15%" src="img/iphone.png" />
                <img id="00008030-0018306102E0402E" width="15%" height="15%" src="img/iphone.png" />
                <img id="00008030-0002199E0ED3802E" width="15%" height="15%" src="img/iphone.png" />
                <img id="00008030-000451410E87802E" width="15%" height="15%" src="img/iphone.png" />
            </div>
        </div>
</body>
<% include partials/script %>

</html>