<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

        <label class="switch">
        <input id="start" type="checkbox" onclick="start(this)">
        <span class="slider round"></span>
    </label>

        <div class="phones" style="margin-left: 1%; margin-top: 1%;">
            <div>
                <img id="phone1" width="15%" height="15%" src="img/iphone.png" />
                <img id="phone2" width="15%" height="15%" src="img/iphone.png" />
                <img id="phone3" width="15%" height="15%" src="img/iphone.png" />
                <img id="phone4" width="15%" height="15%" src="img/iphone.png" />
                <img id="phone5" width="15%" height="15%" src="img/iphone.png" />
                <img id="phone6" width="15%" height="15%" src="img/iphone.png" />
            </div>
        </div>
</body>
<% include partials/script %>

</html>